http_interactions:
- request:
    method: get
    uri: https://ridl.unhcr.org/api/3/action/package_search?q=%2A%3A%2A&fq=&start=0&rows=5
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: 495e11e2-67b6-4dfc-a35e-d272666faaf6
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"help": "https://ridl.unhcr.org/api/3/action/help_show?name=package_search",
        "success": true, "result": {"count": 461, "sort": "score desc, metadata_modified
        desc", "facets": {}, "results": [{"external_access_level": "not_available",
        "unit_of_measurement": "Each entry is a cash beneficiary household", "license_title":
        null, "maintainer": null, "relationships_as_object": [], "geog_coverage":
        "National coverage", "private": false, "maintainer_email": null, "num_tags":
        2, "keywords": ["27"], "identifiability": "anonymized_enclave", "admin_notes":
        "", "id": "c6a5e695-f300-47ce-90c3-a46f354485d9", "metadata_created": "2021-03-19T17:25:49.903661",
        "archived": "True", "date_range_start": "2020-08-17", "metadata_modified":
        "2021-03-19T17:32:45.455325", "author": null, "author_email": null, "data_sensitivity":
        "", "date_range_end": "2020-08-21", "state": "active", "version": null, "data_collector":
        "United Nations High Commissioner for Refugees", "creator_user_id": "cf0c9317-1e85-4ae9-ad2a-328f771a28e3",
        "type": "dataset", "weight_notes": "", "resources": [{"cache_last_updated":
        null, "file_type": "microdata", "hxl-ated": "", "package_id": "c6a5e695-f300-47ce-90c3-a46f354485d9",
        "identifiability": "anonymized_enclave", "datastore_active": false, "id":
        "1998ac01-add8-41b7-8cab-96f0f891d966", "size": 255039, "date_range_end":
        "2020-08-21", "state": "active", "version": "0", "type": "data", "hash": "",
        "description": "This CSV files contains the data collected in Kobo. Each entry
        is a beneficiary household. Test entries were deleted. One household identifier
        number was modified after the data was collected because the enumerator made
        a typo.", "format": "CSV", "mimetype_inner": null, "url_type": "upload", "mimetype":
        null, "cache_url": null, "name": "CBI PDM Guatemala Data Collected August
        2020", "created": "2021-03-19T17:28:25.176755", "url": "https://ridl.unhcr.org/dataset/c6a5e695-f300-47ce-90c3-a46f354485d9/resource/1998ac01-add8-41b7-8cab-96f0f891d966/download/cogua-pdm-aug-2020-csv-data-collected.csv",
        "date_range_start": "2020-08-17", "last_modified": null, "process_status":
        "raw", "position": 0, "revision_id": "47761121-6a0d-4d37-92f4-0dccfafbcc89",
        "resource_type": null}, {"cache_last_updated": null, "file_type": "questionnaire",
        "package_id": "c6a5e695-f300-47ce-90c3-a46f354485d9", "datastore_active":
        false, "id": "4ee63863-5d11-4350-b347-329df7919de0", "size": 42099, "state":
        "active", "type": "attachment", "hash": "", "description": "This is the Kobo
        questionnaire that we used in XLS format. The Kobo link has been archived
        and is owned by the account unhcrguatemala", "format": "XLS", "last_modified":
        null, "url_type": "upload", "mimetype": null, "cache_url": null, "name": "CBI
        PDM Guatemala Kobo Questionnaire August 2020", "created": "2021-03-19T17:29:24.056379",
        "url": "https://ridl.unhcr.org/dataset/c6a5e695-f300-47ce-90c3-a46f354485d9/resource/4ee63863-5d11-4350-b347-329df7919de0/download/cogua-pdm-aug-2020-xls-questionnaire.xlsx",
        "mimetype_inner": null, "position": 1, "revision_id": "cfe6b4a0-7e33-4dda-a554-7c78cd715383",
        "resource_type": null}], "data_collection_notes": "Six UNHCR staff members
        with no connection to the CBI programme, two females and four males, were
        designated as enumerators and worked exclusively on PDM data collection between
        17 - 21 August 2020. The enumerators were trained on interview techniques
        and referral mechanisms, as well as on the use of Kobo to record survey responses
        and spreadsheets to monitor the progress of the PDM interview phase. Every
        day of the data collection week, a debrief session was held with the Assc
        CBI Officer and all enumerators to promptly address any technical issues as
        well as to capture qualitative or anecdotal information to further qualify
        and contextualize quantitative findings.", "num_resources": 2, "data_collection_technique":
        "tri", "tags": [{"vocabulary_id": null, "state": "active", "display_name":
        "cbi", "id": "a8148780-939e-4885-8485-fd63669f2feb", "name": "cbi"}, {"vocabulary_id":
        null, "state": "active", "display_name": "cbi pdm", "id": "e77704c1-4a55-481b-a0d6-412ee48b4ae2",
        "name": "cbi pdm"}], "clean_ops_notes": "The initial test submissions that
        were carried out before the actual data collection were deleted from the Kobo
        database.", "visibility": "restricted", "operational_purpose_of_data": ["programme_monitoring"],
        "original_id": "", "groups": [], "license_id": null, "response_rate_notes":
        "132 of 140 beneficiaries responded to the survey, the remaining 8 beneficiaries
        were unreachable via phone.", "relationships_as_subject": [], "organization":
        {"description": "", "created": "2018-07-12T21:00:37.554859", "title": "Guatemala",
        "name": "guatemala", "is_organization": true, "state": "active", "image_url":
        "", "revision_id": "8bb07493-a956-4133-9d24-c2dbefa2bd1b", "type": "data-container",
        "id": "99f73637-5da9-4199-bade-1fab89343438", "approval_status": "approved"},
        "name": "cbi-pdm-guatemala-august-2021", "isopen": false, "sampling_procedure_notes":
        "All households that received a cash assistance payment one to four weeks
        prior to the household survey data collection exercise (which took place between
        17 - 21 August 2020) were selected to be interviewed and there was no further
        sampling. That was a total of 140 beneficiary households.", "url": "", "notes":
        "Post-distribution monitoring of cash assistance provided to asylum-seekers
        and refugees in Guatemala. Data was collected on 132 households.", "owner_org":
        "99f73637-5da9-4199-bade-1fab89343438", "short_title": "", "data_accs_notes":
        "The Kobo questionnaire and data is owned by the Kobo account unhcrguatemala",
        "process_status": "raw", "sampling_procedure": ["total_universe_complete_enumeration"],
        "title": "CBI PDM, Guatemala, August 2020", "revision_id": "9b83099f-746c-482d-b4d3-36fb30cc0376"},
        {"external_access_level": "not_available", "unit_of_measurement": "Each entry
        is a cash beneficiary household", "license_title": null, "maintainer": null,
        "relationships_as_object": [], "geog_coverage": "National coverage", "private":
        false, "maintainer_email": null, "num_tags": 2, "keywords": ["27"], "identifiabilit[...]
