http_interactions:
- request:
    method: get
    uri: https://ridl.unhcr.org/api/3/action/package_search?q=%2A%3A%2A&fq=%20AND%20visibility%3Apublic&start=0&rows=10
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: 495e11e2-67b6-4dfc-a35e-d272666faaf6
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"help": "https://ridl.unhcr.org/api/3/action/help_show?name=package_search",
        "success": true, "result": {"count": 110, "sort": "score desc, metadata_modified
        desc", "facets": {}, "results": [{"external_access_level": "not_available",
        "unit_of_measurement": "Households and invidivuals", "license_title": null,
        "maintainer": null, "relationships_as_object": [], "geog_coverage": "Kakuma
        Camp", "private": false, "maintainer_email": null, "num_tags": 4, "keywords":
        ["6", "10", "12", "38", "58", "61", "62"], "identifiability": "anonymized_enclave",
        "admin_notes": "", "id": "7debc96e-d208-4e50-bb9e-90646874e7ab", "metadata_created":
        "2021-03-08T10:13:24.850052", "linked_datasets": "{bf12c366-03a1-47ea-b1f0-7d87dd5c9cda,c8ba54fb-7c92-43ed-8bbe-58c5b86a79f2}",
        "archived": "False", "date_range_start": "2019-01-01", "metadata_modified":
        "2021-03-16T14:45:11.190663", "author": null, "author_email": null, "data_sensitivity":
        "yes", "date_range_end": "2019-12-31", "state": "active", "version": null,
        "data_collector": "United Nations High Commissioner for Refugees", "creator_user_id":
        "9a786975-62dd-4aa1-bc31-eb052a5d8877", "type": "dataset", "weight_notes":
        "The weights were adjusted for differences in nonresponse across subcamps.
        Sampled households sometimes cannot be interviewed, e.g., because repeatedly
        no knowledgeable person is found in the dwelling or households refuse to participate.
        Different interview response rates across subcamps introduce an imbalance
        to the sample, which must be corrected through the sampling weights. With\r\nhi
        households sampled but only h''t interviews successfully conducted in subcamp
        i, ", "resources": [{"cache_last_updated": null, "file_type": "microdata",
        "hxl-ated": "False", "package_id": "7debc96e-d208-4e50-bb9e-90646874e7ab",
        "identifiability": "anonymized_enclave", "datastore_active": false, "id":
        "818fa8d7-2223-468f-bb5d-9e08914448e9", "size": 1017767, "date_range_end":
        "2019-12-31", "state": "active", "version": "1.1", "type": "data", "hash":
        "", "description": "", "format": "ZIP", "mimetype_inner": null, "url_type":
        "upload", "mimetype": null, "cache_url": null, "name": "Raw Cleaned Data",
        "created": "2021-03-08T10:37:16.313765", "url": "https://ridl.unhcr.org/dataset/7debc96e-d208-4e50-bb9e-90646874e7ab/resource/818fa8d7-2223-468f-bb5d-9e08914448e9/download/raw-data.7z",
        "date_range_start": "2019-01-01", "last_modified": null, "process_status":
        "cleaned", "position": 0, "revision_id": "0865717f-b419-41ea-97c1-f7540e33cbd5",
        "resource_type": null}, {"cache_last_updated": null, "file_type": "questionnaire",
        "package_id": "7debc96e-d208-4e50-bb9e-90646874e7ab", "datastore_active":
        false, "id": "a6652b28-6585-4b76-b22f-244f12ebd731", "size": 304893, "state":
        "active", "type": "attachment", "hash": "", "description": "", "format": "PDF",
        "last_modified": null, "url_type": "upload", "mimetype": null, "cache_url":
        null, "name": "Questionnaire", "created": "2021-03-08T10:37:58.970928", "url":
      [...]
