http_interactions:
- request:
    method: get
    uri: https://ridl.unhcr.org/api/3/action/package_show?id=ddi-uga-unhcr-kap-2019-kyangwali-v1-0
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: 495e11e2-67b6-4dfc-a35e-d272666faaf6
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"help": "https://ridl.unhcr.org/api/3/action/help_show?name=package_show",
        "success": true, "result": {"external_access_level": "not_available", "unit_of_measurement":
        "Households", "license_title": null, "maintainer": "", "relationships_as_object":
        [], "geog_coverage": "", "private": false, "maintainer_email": "", "num_tags":
        0, "keywords": ["4"], "admin_notes": "", "id": "da3f18e5-b4df-47e2-8cc5-c85e3505cdf5",
        "metadata_created": "2020-02-07T07:32:54.435689", "archived": "False", "metadata_modified":
        "2020-07-22T12:30:22.061914", "author": "UNHCR", "author_email": "", "data_sensitivity":
        "", "state": "active", "version": "v1.0:  Basic raw data, obtained from data
        entry (before editing).", "data_collector": "UNHCR", "creator_user_id": "242abf2b-6d60-49a8-b380-8c3b26648423",
        "type": "dataset", "weight_notes": "No info presented; to be computed post
        hoc", "resources": [{"cache_last_updated": null, "file_type": "other", "package_id":
        "da3f18e5-b4df-47e2-8cc5-c85e3505cdf5", "datastore_active": false, "id": "d6fa40b1-cc8d-4526-a472-be78acdd1c27",
        "size": 6384, "state": "active", "type": "attachment", "hash": "", "description":
        "", "format": "XML", "last_modified": "2020-02-07T07:32:54.697478", "url_type":
        "upload", "mimetype": "text/xml", "cache_url": null, "name": "DDI XML", "created":
        "2020-02-07T07:32:54.720558", "url": "https://ridl.unhcr.org/dataset/da3f18e5-b4df-47e2-8cc5-c85e3505cdf5/resource/d6fa40b1-cc8d-4526-a472-be78acdd1c27/download/ddi_uga_unhcr_kap_2019_kyangwali.xml",
        "mimetype_inner": null, "position": 0, "revision_id": "77c21935-9bbf-498c-90a1-93ad987ee61d",
        "resource_type": null}, {"cache_last_updated": null, "file_type": "other",
        "package_id": "da3f18e5-b4df-47e2-8cc5-c85e3505cdf5", "datastore_active":
        false, "id": "e108b9c9-1c74-4700-8f7e-384f9b30ea7f", "size": 194, "state":
        "active", "type": "attachment", "hash": "", "description": "", "format": "RDF",
        "last_modified": "2020-02-07T07:32:54.891590", "url_type": "upload", "mimetype":
        "application/rdf+xml", "cache_url": null, "name": "DDI RDF", "created": "2020-02-07T07:32:54.918922",
        "url": "https://ridl.unhcr.org/dataset/da3f18e5-b4df-47e2-8cc5-c85e3505cdf5/resource/e108b9c9-1c74-4700-8f7e-384f9b30ea7f/download/ddi_uga_unhcr_kap_2019_kyangwali.rdf",
        "mimetype_inner": null, "position": 1, "revision_id": "6c64e3f0-cde0-4491-bf24-2d7860717c0b",
        "resource_type": null}, {"cache_last_updated": null, "file_type": "microdata",
        "hxl-ated": "", "package_id": "da3f18e5-b4df-47e2-8cc5-c85e3505cdf5", "identifiability":
        "personally_identifiable", "datastore_active": false, "id": "145445bc-37e9-4bf9-b605-adddcdb267f0",
        "size": 395285, "date_range_end": "2019-11-30", "state": "active", "version":
        "0", "type": "data", "hash": "", "description": "", "format": "XLSX", "mimetype_inner":
        null, "url_type": "upload", "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
        "cache_url": null, "name": "Raw data", "created": "2020-02-07T07:34:38.917278",
        "url": "https://ridl.unhcr.org/dataset/da3f18e5-b4df-47e2-8cc5-c85e3505cdf5/resource/145445bc-37e9-4bf9-b605-adddcdb267f0/download/ddi_uga_unhcr_wash_kap_survey_raw_data_kyangwali_2019.xlsx",
        "date_range_start": "2019-11-01", "last_modified": "2020-02-07T07:34:38.888339",
        "process_status": "raw", "position": 2, "revision_id": "869f5be8-4a9d-4e76-ac1f-f9ce99ff1278",
        "resource_type": null}, {"cache_last_updated": null, "file_type": "questionnaire",
        "package_id": "da3f18e5-b4df-47e2-8cc5-c85e3505cdf5", "datastore_active":
        false, "id": "0727ab63-895b-4e16-aa94-586b014eb8f3", "size": 141824, "state":
        "active", "type": "attachment", "hash": "", "description": "", "format": "XLSX",
        "last_modified": "2020-02-07T07:41:18.101751", "url_type": "upload[...]
